# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Categories of Data Science Tools
* List of popular languages for Data Science
* List of common used libraries used by Data Scientist
* Example of arithmetic expression in Phyton

Some of the popular languages that Data Scientists use are:

1. Phyton
2. Java
3. C++
4. C
5. R
6. SQL
7. Julia

Some of the commonly libraries used by Data Scientists incluede:

1.  TensorFlow 
2.  NumPy
3.  SciPy 
4.  Pandas
5.  Matplotlib 
6.  Keras
7.  SciKit-Learn
8.  PyTorch
9.  Scrapy
10. Beautiful Soup
11. LightGBM
12. ELI5
13. Theano
14. NuPIC

|Data Science Tools |
|-------------------|
|Data Management Tools:  Apache Airflow and Apache Kafka |
|Data Integration and Transformation Tools: Apache Airflow and Apache Kafka |
|Data Visualization Tools: Cognos Analytics, Tableau and PowerBI |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)
x + 5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Iwona Sylwia Grzeskowiak Bacewicz